@import "base/style";
@import "components/style";
.main {
   padding-top: 88px;
   @media (max-width: $mobile) {
      padding-top: 48px;
   }
}
.hero {
   // .hero__wrapper

   &__wrapper {
      display: flex;
      align-items: flex-end;
      gap: 16px;
   }

   // .hero__main

   &__main {
      flex: 0 0 662px;
   }

   // .hero__icons

   &__icons {
      display: flex;
      li {
         position: relative;
      }
      li + li {
         margin-left: -20px;
      }
   }

   // .hero__title

   &__title {
      margin-top: 24px;
      margin-bottom: 16px;
   }

   // .hero__text

   &__text {
      @include body-s;
   }

   // .hero__image

   &__image {
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   @media (max-width: $mobile) {
      &__wrapper {
         flex-direction: column;
         gap: 24px;
         align-items: flex-start;
      }
      &__text {
         display: none;
      }
      &__title {
         margin-top: 16px;
      }
      &__main {
         flex: unset;
      }
      &__image {
         width: 100%;
      }
      &__icons {
         img {
            width: 32px;
            height: 32px;
            object-fit: cover;
         }
         li + li {
            margin-left: -10px;
         }
      }
   }
}
.experience {
   padding-top: 80px;
   padding-bottom: 136px;
   // .experience__wrapper

   &__wrapper {
      display: flex;
      gap: 16px;
   }

   // .experience__title

   &__title {
      flex: 0 1 339px;
      color: #b4b4b4;
      @include h4;
   }

   // .experience__list

   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 32px;
      li {
         max-width: 307px;
         display: flex;
         flex-direction: column;
         gap: 16px;
         padding-top: 24px;
         border-top: 1px solid #ebebeb;
         p {
            @include body-m;
         }
      }
      li:nth-child(2) {
         grid-row: 2;
         grid-column: 2;
      }
      li:nth-child(3) {
         grid-row: 1;
         grid-column: 3;
      }
   }
   @media (max-width: $mobile) {
      padding-bottom: 80px;
      &__wrapper {
         flex-direction: column;
      }
      &__title {
         flex: unset;
         @include h4-mobile;
      }
      &__list {
         display: flex;
         flex-direction: column;
         gap: 16px;
         width: 100%;

         li {
            max-width: unset;
            width: 100%;
            padding-top: 16px;
            p {
               @include body-l-mobile;
            }
         }
      }
   }
}
.cases {
   padding-top: 136px;
   // .cases__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 40px;
   }

   // .cases__header

   &__header {
      gap: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .cases__title

   &__title {
   }

   // .cases__images

   &__images {
      display: flex;
      align-items: center;
      gap: 16px;
   }

   // .cases__list

   &__list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
   }

   // .cases__item

   &__item {
   }
   @media (max-width: $mobile) {
      padding-top: 80px;
      &__header {
         flex-direction: column;
         align-items: flex-end;
      }
      &__list {
         gap: 24px;
         grid-template-columns: 1fr;
      }
      &__images {
         gap: 8px;
      }
   }
}
.case {
   border-radius: 16px;
   background-color: $white;
   display: flex;
   flex-direction: column;
   gap: 16px;
   // .case__image

   &__image {
      border-radius: 16px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .case__main

   &__main {
      padding: 16px;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      gap: 8px;
   }

   // .case__date

   &__date {
      color: $grey-2;
      @include body-m;
   }

   // .case__title

   &__title {
   }
   @media (max-width: $mobile) {
      &__date {
         @include body-m-mobile;
      }
   }
}
.help {
   padding: 136px 0;
   @media (max-width: $mobile) {
      padding: 80px 0;
   }
   // .help__wrapper

   &__wrapper {
      display: flex;
      gap: 16px;
   }

   // .help__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // .help__title

   &__title {
   }

   // .help__btn

   &__btn {
      width: 323px;
   }

   // .help__list

   &__list {
      flex: 0 0 662px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      .btn {
         display: none;
      }
   }

   // .help__item

   &__item {
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      gap: 44px;
      color: $white;
      padding: 24px;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .help__index

   &__index {
      position: relative;
      z-index: 1;
      @include body-m;
   }

   // .help__subtitle

   &__subtitle {
      position: relative;
      z-index: 1;
   }
   @media (max-width: $mobile) {
      &__wrapper {
         flex-direction: column;
         gap: 32px;
      }
      &__main {
         .btn {
            display: none;
         }
      }
      &__list {
         gap: 24px;
         flex: unset;
         .btn {
            display: flex;
            width: 100%;
         }
      }
      &__item {
         gap: 34px;
         padding: 16px;
         border-radius: 16px;
      }
      &__index {
         @include body-l-mobile;
      }
   }
}
.business {
   background-color: $black;
   border-radius: 40px;
   padding: 80px 0;
   // .business__wrapper

   &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 136px;
      color: $white;
   }
   @media (max-width: $mobile) {
      padding: 32px 0;
      border-radius: 24px;
      &__wrapper {
         gap: 80px;
      }
   }
}
.business-help {
   // .business-help__header
   display: flex;
   flex-direction: column;
   gap: 64px;
   &__header {
      display: flex;
      gap: 16px;
   }

   // .business-help__image

   &__image {
      border-radius: 24px;
      overflow: hidden;
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .business-help__main

   &__main {
      flex: 0 0 662px;
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // .business-help__title

   &__title {
   }

   // .business-help__icons

   &__icons {
      flex: 1;
   }

   // .business-help__subtitle

   &__subtitle {
   }

   // .business-help__list

   &__list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 16px;
      color: $grey-2;
      @include body-m;

      li {
         border-radius: 16px;
         padding: 16px;
         background-color: #1b1c1d;
      }
   }
   @media (max-width: $mobile) {
      gap: 24px;
      &__header {
         flex-direction: column;
         gap: 32px;
      }
      &__main {
         flex: unset;
         gap: 0;
      }
      &__icons {
         margin-top: 16px;
         margin-bottom: 32px;
      }
      &__list {
         grid-template-columns: 1fr;
         gap: 24px;
         @include body-l-mobile;
      }
   }
}
.business-benefit {
   display: flex;
   flex-direction: column;
   gap: 70px;
   // .business-benefit__header

   &__header {
      display: flex;
      justify-content: space-between;
   }

   // .business-benefit__title

   &__title {
   }

   // .business-benefit__subtitle

   &__subtitle {
      color: $grey-2;
      @include h4;
   }

   // .business-benefit__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 64px;
   }

   // .business-benefit__bigs

   &__bigs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
   }

   // .business-benefit__smalls

   &__smalls {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 32px;
   }

   // .business-benefit__mediums

   &__mediums {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 16px;
      row-gap: 40px;
      li:nth-child(3) {
         grid-column: span 2;
      }
   }
   @media (max-width: $mobile) {
      gap: 32px;
      &__main {
         gap: 0;
      }
      &__smalls {
         margin-top: 32px;
         margin-bottom: 64px;
      }
      &__smalls,
      &__bigs,
      &__mediums {
         grid-template-columns: 1fr;
         gap: 24px;
         li:nth-child(3) {
            grid-column: unset;
         }
      }
      &__subtitle {
         @include h4-mobile;
      }
   }
}
.benefit-big {
   background-color: $white;
   // .benefit-big__subtitle

   &__subtitle {
      border-color: #ebebeb;
      color: #b4b4b4;
   }

   // .benefit-big__main

   &__main {
   }

   // .benefit-big__title

   &__title {
      color: $black;
      display: flex;
      align-items: center;
      gap: 16px;
   }

   // .benefit-big__text

   &__text {
      color: #b4b4b4;
   }
}
.benefit {
   border-radius: 16px;
   // .benefit__subtitle

   &__subtitle {
      padding: 16px 24px;
      @include body-s;
      border-bottom: 1px solid;
      display: block;
      width: 100%;
   }

   // .benefit__main

   &__main {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // .benefit__title

   &__title {
      @include h3;
   }

   // .benefit__text

   &__text {
      @include body-m;
   }
   @media (max-width: $mobile) {
      &__subtitle {
         padding: 8px 16px;
      }
      &__main {
         gap: 16px;
         padding-right: 16px;
      }
      &__title {
         @include h3-mobile;
      }
      &__text {
         @include body-m-mobile;
      }
      .btn {
         width: 100%;
      }
   }
}
.benefit-small {
   background-color: #1b1c1d;
   // .benefit-small__subtitle

   &__subtitle {
      border-color: #383838;
      color: #b4b4b4;
   }

   // .benefit-small__main

   &__main {
   }

   // .benefit-small__title

   &__title {
   }

   // .benefit-small__text

   &__text {
      color: #b4b4b4;
   }
}
.benefit-medium {
   background-color: $white;
   border-radius: 24px;
   padding: 16px;
   display: flex;
   flex-direction: column;
   gap: 40px;
   // .benefit-medium__header

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn {
         width: 222px;
         flex: 0 0 222px;
      }
   }

   // .benefit-medium__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // .benefit-medium__title

   &__title {
      color: $black;
   }

   // .benefit-medium__text

   &__text {
      color: $grey-2;
   }
   @media (max-width: $mobile) {
      gap: 20px;
      &__header {
         & > img {
            width: 48px;
            height: 48px;
            flex: 0 0 48px;
         }
         .btn {
            width: 180px;
            flex: 0 0 180px;
         }
      }
      &__main {
         gap: 16px;
      }
   }
}
.process {
   padding: 136px 0;
   // .process__wrapper
   .swiper {
      display: none;
   }
   &__wrapper {
   }

   // .process__header

   &__header {
      margin-bottom: 40px;
      display: flex;
      gap: 160px;
      span {
         @include h4;
         color: $grey-2;
         @media (max-width: $mobile) {
            @include h4-mobile;
         }
      }
   }

   // .process__title

   &__title {
   }

   // .process__list

   &__list {
      display: grid;
      gap: 16px;
      grid-template-columns: repeat(4, 1fr);
      .process__item {
         width: fit-content;
         &:nth-child(4) {
            grid-column: 2;
            grid-row: 2;
         }
         &:nth-child(5) {
            grid-column: 3;
            grid-row: 2;
         }
         &:nth-child(6) {
            grid-column: 4;
            grid-row: 2;
         }
      }
   }

   // .process__item

   &__item {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 24px;
      border-radius: 16px;
      color: $black;
      border: 1px solid #ebebeb;
      &.active {
         color: $white;
         background-color: $burgundy;
         border-color: $burgundy;
      }
   }

   // .process__index

   &__index {
      @include h3;
   }

   // .process__text

   &__text {
      @include body-m;
   }
   @media (max-width: $mobile) {
      padding: 80px 0;
      &__header {
         flex-direction: column;
         gap: 14px;
         margin-bottom: 32px;
      }
      &__list {
         display: none;
      }
      .swiper {
         display: block;
         margin-left: -20px;
         margin-right: -20px;
         padding-left: 20px;
         padding-right: 20px;
      }
      &__item {
         max-width: 350px;
         height: auto;
      }
   }
}
.reviews {
   // .reviews__wrapper

   &__wrapper {
   }

   // .reviews__header

   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 46px;
   }

   // .reviews__title

   &__title {
   }

   // .reviews__nav

   &__nav {
      display: flex;

      gap: 8px;
   }

   // .reviews__btn

   &__btn {
      position: relative !important;
      top: unset !important;
      left: unset !important;
      right: unset !important;
      bottom: unset !important;
      transform: unset !important;
      margin: unset !important;
      // .reviews__btn_prev
      width: 58px;
      height: 58px;
      flex: 0 0 58px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 50%;
      &::after {
         display: none;
      }
      &_prev {
      }

      // .reviews__btn_next

      &_next {
      }
   }

   // .reviews__slider

   &__slider {
   }

   // .reviews__item

   &__item {
      min-height: 220px;
      height: auto;
      display: flex;
      flex-direction: column;
      padding: 24px;
      border-radius: 16px;
      background-color: $white;
      @include body-l;
   }

   // .reviews__text

   &__text {
      color: $grey-2;
      flex: 1;
   }

   // .reviews__author

   &__author {
      align-self: flex-end;
      color: $black;
   }
   @media (max-width: $mobile) {
      &__item {
         max-width: 350px;
         padding: 16px;
      }
      &__header {
         margin-bottom: 32px;
      }
      &__nav {
         display: none;
      }
      .swiper {
         margin-left: -20px;
         margin-right: -20px;
         padding-left: 20px;
         padding-right: 20px;
      }
   }
}
.documents {
   padding: 136px 0;
   // .documents__wrapper

   &__wrapper {
   }

   // .documents__header

   &__header {
   }

   // .documents__title

   &__title {
   }

   // .documents__list

   &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
   }
   @media (max-width: $mobile) {
      padding: 80px 0;
      &__list {
         grid-template-columns: 1fr;
         gap: 24px;
      }
   }
}
.documents-item {
   border-radius: 16px;
   display: flex;
   flex-direction: column;
   gap: 56px;
   background-color: $white;
   padding: 24px;
   // .documents-item__tilte

   &__tilte {
   }

   // .documents-item__footer

   &__footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
   }

   // .documents-item__subtitle

   &__subtitle {
      @include body-s;
   }
   @media (max-width: $mobile) {
      gap: 16px;
      &__footer {
         align-items: flex-start;
         flex-direction: column;
         gap: 36px;
      }
   }
}
.news {
   padding: 136px 0;
   // .news__wrapper

   &__wrapper {
      .swiper-slide {
         display: flex;
         flex-direction: column;
         gap: 16px;
         transition: 0.4s;
         // min-height: 290px;
         max-width: 450px;
      }
      .swiper-slide-active {
         max-width: 662px;
         // min-height: 390px;
         .news__image {
            // flex: 0 0 200px;
            // height: 200px;
         }
      }
   }

   // .news__title

   &__title {
      margin-bottom: 40px;
   }

   // .news__image

   &__image {
      border-radius: 16px;
      overflow: hidden;
      transition: height 0.4s;
      position: relative;
      // background-color: red;
      height: 350px;
      flex: 0 0 350px;
      @media (max-width: $mobile) {
         height: 280px;
         flex: 0 0 280px;
      }
      img {
         // display: none;
         position: absolute;
         top: 0;
         left: 0;
         transition: height 0.4s, width 0.4s;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   // .news__main

   &__main {
      transition: 0.4s;

      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   // .news__subtitle

   &__subtitle {
      //styleName: Desktop/Body XL;
      font-size: 20px;
      line-height: calc(24 / 20);
      letter-spacing: -0.06em;
   }

   // .news__date

   &__date {
      @include body-m;
      color: $grey-2;
   }
   @media (max-width: $mobile) {
      padding: 80px 0;
      .swiper {
         margin-left: -20px;
         margin-right: -20px;
         padding-left: 20px;
         padding-right: 20px;
      }
   }
}
.form {
   padding-bottom: 156px;
   // .form__wrapper

   &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
   }

   // .form__main

   &__main {
      display: flex;
      flex-direction: column;
      gap: 16px;
   }

   // .form__title

   &__title {
   }

   // .form__text

   &__text {
      color: $grey-2;
      @include body-l;
   }

   // .form__cart

   &__card {
      padding: 24px;
      border-radius: 24px;
      background-color: $white;
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // .form__list

   &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      input {
         width: 100%;
         height: 48px;
         border-radius: 8px;
         border: 1px solid #ebebeb;
         padding: 0 16px;
         @include body-m;
         color: $black;
      }
   }

   // .form__footer

   &__footer {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .btn {
         width: 100%;
      }
      p {
         @include body-s;
         color: $grey-2;
         a {
            color: $grey-2;
         }
      }
   }
   @media (max-width: $mobile) {
      padding-bottom: 80px;
      &__wrapper {
         grid-template-columns: 1fr;
         gap: 32px;
      }
      &__main {
         gap: 16px;
      }
      &__text {
         @include body-l-mobile;
      }
      &__card {
         padding: 24px 16px;
      }
   }
}

.modal {
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.603);
   opacity: 0;
   visibility: hidden;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   overflow-y: auto;
   overflow-x: hidden;
   cursor: pointer;
   z-index: 101;
}

.modal__content {
   border-radius: 24px;
   position: absolute;
   top: 50%;
   left: 50%;
   -webkit-transform: translateY(-50%) translateX(-50%) scale(0);
   -ms-transform: translateY(-50%) translateX(-50%) scale(0);
   transform: translateY(-50%) translateX(-50%) scale(0);
   background-color: #fff;
   opacity: 0;
   -webkit-transition: 0.5s;
   -o-transition: 0.5s;
   transition: 0.5s;
   cursor: default;
   padding: 32px;
   width: calc(100% - 40px);
   max-width: 888px;
   .form {
      padding-bottom: 0;
      &__wrapper {
         grid-template-columns: 1fr;
      }
      &__card {
         padding: 0;
      }
   }
}

.modal__close {
   display: block;
   position: absolute;
   top: 35px;
   right: 15px;
}
.modal.open {
   opacity: 1;
   visibility: visible;
}

.modal.open .modal__content {
   -webkit-transform: translateY(-50%) translateX(-50%) scale(1);
   -ms-transform: translateY(-50%) translateX(-50%) scale(1);
   transform: translateY(-50%) translateX(-50%) scale(1);
   opacity: 1;
}
