.collapse:not(.collapse_show) {
   display: none;
}
.wrapper {
   font-family: Arial, sans-serif;
   background-color: #f5f5f5;
   color: $black;
}
.container {
   max-width: 1380px;
   padding: 0 20px;
   margin: 0 auto;
}
.h1 {
   @include h1;
   @media (max-width: $mobile) {
      @include h1-mobile;
   }
}
.h2 {
   @include h2;
   @media (max-width: $mobile) {
      @include h2-mobile;
   }
}
.h3 {
   @include h3;
   @media (max-width: $mobile) {
      @include h3-mobile;
   }
}
.h4 {
   @include h4;
   @media (max-width: $mobile) {
      @include h4-mobile;
   }
}
.btn {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 4px;
   padding-left: 16px;
   @include body-s;
   color: $white;
   background-color: $burgundy;
   border-radius: 8px;
   div {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      flex: 0 0 48px;
      border-radius: 12px;
      background-color: $white;
   }
   @media (max-width: $mobile) {
      padding: 12px;
      gap: 20px;
      div {
         width: 32px;
         height: 32px;
         flex: 0 0 32px;
         border-radius: 4px;
      }
   }
}

html.lenis,
html.lenis body {
   height: auto;
}

.lenis.lenis-smooth {
   scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
   overscroll-behavior: contain;
}

.lenis.lenis-stopped {
   overflow: hidden;
}

.lenis.lenis-smooth iframe {
   pointer-events: none;
}

body.lock {
   overflow: hidden;
}
